:root {
    --container-size: 1280px;
    --container-size-sm: 1000px;

    --font-family: "Okta Neue", sans-serif;
    --second-family: "Inter", sans-serif;

    --black: #262632;
    --grey: #64729c;
    --white: #fff;
    --blue: #425dd5;
    --light-blue: #dfe6f8;
    --divider: #bfc7de;
}